<link rel="stylesheet" href="../static/css/zd-1.0.css">

<nav>
    <!-- logo -->
    <div class="nav-logo">
        <a href="#"><img src="../static/images/logo.png" alt=""></a>
    </div>
    <!-- 菜单 -->
    <ul class="nav-list">
        <li><a href="">首页</a></li>
        <li><a href="">个人
            <div class="carect"></div>
        </a>
            <ul class="menu">
                <li><a href="">登录</a></li>
                <li><a href="">注册</a></li>
                <li><a href="">退出</a></li>
            </ul>
        </li>
    </ul>
</nav>

