<link rel="stylesheet" href="../static/css/daohang.css" />
<link rel="stylesheet" href="../static/css/bootstrap.css" />
<header id="header" data-spy="affix" data-offset-top="70">
			<nav class="nrse" id="daohang">
				<div class="daohang">
					<div class="navbar-header clearfix">
						<button type="button" class="zd" id="zd" >
							<span class="glyphicon glyphicon-align-justify"></span>
						</button>

					</div>
					<div class="collapse navbar-collapse" id="daohangtiao">
						<ul class="nav navbar-nav">
							<li><a href="homepage.html">首页</a></li>
							<li><a href="http://localhost:9000/item_analysis">开始</a></li>
						</ul>
						<ul class="zcdl nav navbar-nav pull-right">
							<li><a href="http://localhost:9000/login">登录</a></li>
							<li><a href="http://localhost:9000/register">注册</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>