<link rel="stylesheet" href="../static/css/footer&cbl.css" />
<link rel="stylesheet" href="../static/css/bootstrap.css" />
<div class="footer">
			<div class="f1">
				<div class="container">
					<div class="ff1 col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<div class="ff1-1">电子商务大数据分析平台 · 优雅做电商运营</div>
						<div class="ff1-2">电子商务大数据分析平台是一个集合各大电商平台的商品、店铺、评论等数据的分析平台</div>
						<div class="ff1-3">
							<p>Q Q客服：742953129</p>
							<p>客服热线：15521387615</p>
						</div>
					</div>
					<div class="ff2 col-lg-8 col-md-8">
						<div class="col-lg-2 col-md-2">
							<div class="ff2-1"><p>公司信息</p></div>
							<p><a href="#">公司介绍</a></p>
							<p><a href="#">服务条款</a></p>
							<p><a href="#">法律声明</a></p>
							<p><a href="#">可接受服务</a></p>
							<p><a href="#">免责声明</a></p>
						</div>
						<div class="col-lg-2 col-md-2">
							<div class="ff2-1"><p>技术支持</p></div>
							<p><a href="#">联系客服</a></p>
							<p><a href="#">给我们的建议</a></p>
							<p><a href="#">更新日志</a></p>
							<p><a href="#">博客</a></p>
							<p><a>免责声明</a></p>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="ff2-1"><p>快速入口</p></div>
							<p><a href="#">店铺PC自然曝光指数</a></p>
							<p><a href="#">商品PC自然曝光指数</a></p>
							<p><a href="#">品牌PC自然曝光指数</a></p>
							<p><a href="#">自然搜索商品展现</a></p>
							<p><a href="#">自然搜索商店展现</a></p>
						</div>
						<div class="col-lg-4 col-md-4" style="padding-right: 0;">
							<div class="ff2-1"><p>最新资讯</p></div>
							<p><a href="http://www.woshipm.com/operate/36334.html">一个电商数据分析师的经验总结 | 人人都是产品经理</a></p>
							<p><a href="http://www.ebrun.com/sd/">深度:电商深度分析对电商行业展开深度解读-亿邦动力网 - 亿邦动力网</a></p>
							<p><a href="http://www.appadhoc.com/blog/how-to-analysis-e-commerce-website">如何进行电商网站数据分析/</a></p>

						</div>
					</div>
				</div>

			</div>
			<div class="f2">
				<div class="container">
					<hr style="width: 100%;border: none;height: 1px;background-color: #E2E2E2;"/>
					<p>拓展你的电商销售方式，获取酷帅的电商分析技能尽在这里！</p>
				</div>
			</div>
		</div>