<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/zd-1.0.css">
</head>
<script>
    var start_date = '0'
    var end_date = '-1'
</script>

<style>
    #footer2 {
        background: #f8f8f8;
        line-height: 25px;
        color: #010101;
        padding-top: 20px;
        padding-bottom: 15px;
    }
</style>
<body>
<div class="main">
    <div id="top">
        {% include 'dao_hang.html' %}
    </div>
    <div id="contain">
        <div id="mu_lu">{% include 'mu_lu.html' %}</div>
        <div id="zhan_shi">
            {% include '商品搜索框.html' %}
            {% include 'table.html' %}
        </div>
    </div>
    <div id="bottom">{% include 'footer.html' %}</div>
</div>
</body>
</html>