<link rel="stylesheet" type="text/css" href="../static/css/nav.css">
<link rel="stylesheet" type="text/css" href="../static/font/iconfont.css">
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/nav.js"></script>
<div class="nav">
    <div class="nav-top">
        <div id="mini" style="border-bottom:1px solid rgba(255,255,255,.1)"><img src="../static/images/mini.png"></div>
    </div>
    <ul>
        <li class="nav-item">
            <a href="javascript:;"><i class="my-icon nav-icon icon_1"></i><span>店铺分析</span><i
                    class="my-icon nav-more"></i></a>
            <ul>
                <li><a href="http://localhost:9000/dian_pu/"><span>店铺数据查询</span></a></li>
                <li><a href="http://localhost:9000/dian_pu_analysis/"><span>店铺详细分析</span></a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:;"><i class="my-icon nav-icon icon_2"></i><span>商品分析</span><i
                    class="my-icon nav-more"></i></a>
            <ul>
                <li><a href="http://localhost:9000/item_search/"><span>商品数据查询</span></a></li>
                <li><a href="http://localhost:9000/item_analysis/"><span>商品详细分析</span></a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:;"><i class="my-icon nav-icon icon_3"></i><span>品牌价值分析</span><i
                    class="my-icon nav-more"></i></a>
            <ul>
                <li><a href="http://localhost:9000/brand_search/"><span>品牌数据查询</span></a></li>
                <li><a href="http://localhost:9000/brand/"><span>品牌详细分析</span></a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:;"><i class="my-icon nav-icon icon_3"></i><span>关键词分析</span><i
                    class="my-icon nav-more"></i></a>
            <ul>
                <li><a href="javascript:;"><span>自然搜索商品展现</span></a></li>
                <li><a href="javascript:;"><span>自然搜索商店展现</span></a></li>
                <li><a href="javascript:;"><span>自然搜索品牌展现</span></a></li>
                <li><a href="javascript:;"><span>关键词市场分析</span></a></li>
            </ul>
        </li>
    </ul>
</div>

