
<style>
    #brand_week{
        width: 99%;
        height: 99%;
    }
</style>
<div id="brand_week"  class="true_picture"></div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('brand_week'));
var option = {
    title: {
        text: '品牌一周趋势'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:['情感指数','销量','评论数']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: ['周一','周二','周三','周四','周五','周六','周日']
    },
    yAxis: {
        type: 'value'
    },
    series: [
        {
            name:'情感指数',
            type:'line',
            stack: '总量',
            data:[120, 132, 101, 134, 90, 230, 210]
        },
        {
            name:'销量',
            type:'line',
            stack: '总量',
            data:[220, 182, 191, 234, 290, 330, 310]
        },
        {
            name:'评论数',
            type:'line',
            stack: '总量',
            data:[150, 232, 201, 154, 190, 330, 410]
        }
    ]
};
myChart.setOption(option);
</script>
