<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/zd-1.0.css">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
</head>
<body>
<div class="main">
    <div id="top">
        {% include 'dao_hang.html' %}
    </div>
    <div id="contain">
        <div id="mu_lu">{% include 'mu_lu.html' %}</div>
        <div id="zhan_shi">
            {% include '品牌详情.html' %}
        </div>
    </div>
    <div id="bottom">{% include 'footer.html' %}</div>
</div>
</body>
</html>