<style>
    #item_keyword {
        width: 99%;
        height: 99%;
    }
</style>
<div id="item_keyword" class="true_picture"></div>
<script type="text/javascript">
    var aaa;
    $.ajax({
        type: 'get',
        url: "http://localhost:9000/brandSource?brand={{brand}}",
        dataType: 'json',
        success: function (info) {
            dataName = []
            dataValue = []
            dataDicList = []

            for (var i = 0; i <= info.length; i++) {
                for (var key in info[i]) {
                    dataName.push(key)
                    dataValue.push(info[i][key])
                    dataDicList.push({value: info[i][key], name: key})
                }
            }

            aaa = dataDicList
            var myChart = echarts.init(document.getElementById('item_keyword'));
            var option = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'left',
                    data: dataName
                },
                series: [
                    {
                        name: '访问来源',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '30',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: dataDicList
                    }
                ]
            };
            myChart.setOption(option);
        }
    });


</script>