<style>
    #item_week_search {
        width: 99%;
        height: 99%;
    }
</style>
<div id="item_week_search" class="true_picture"></div>


<script type="text/javascript">
    $.ajax({
        type: 'get',
        url: "http://localhost:9000/itemWeekDisplay?itemId={{itemId}}",
        dataType: 'json',
        success: function (info) {
            var myChart = echarts.init(document.getElementById('item_week_search'));
            var optionTren = {
                title: {
                    text: '商品一周搜索展现'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['一周搜索展现']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: '搜索指数',
                        type: 'line',
                        stack: '总量',
                        data: info
                    }
                ]
            };
            myChart.setOption(optionTren);
        }
    });


</script>
