<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/item_analysis.css">
    <link rel="stylesheet" href="../static/js/jquery-ui.css">
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/echarts.js"></script>
</head>
<body>
<div id="item_contains">
    <div id="item_contains_top">
        <div id="item_meta">
            <div class="thumbnail"><img alt="300x200"
                                        src={{ itemImg }}>
                <div class="caption" contenteditable="true">
                    <p>{{ title }}</p>
                    <p><a class="btn btn-primary" target="_blank" href="https://detail.tmall.com/item.htm?id{{itemId}}">商品页面</a></p>
                </div>
            </div>
        </div>
        <div id="item_detail">
            <div id="item_info">
                <ul>
                    {% for i in details %}
                    <li>{{ i }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div id="keyword_weight">
                {% include '商品关键词饼图.html' %}

            </div>
        </div>
    </div>
    <div id="item_contains_bottom">
        <div id="item_contains_bottom_left">
            <div class="analysis_picture">{% include '商品一周趋势.html' %}</div>
            <div class="analysis_picture">{% include '商品情感指数.html' %}</div>

        </div>
        <div id="item_contains_bottom_right">
            <div id="ci_yun">
                {% include 'ciyun.html' %}
            </div>
            <div id="rank">
                {% include '商品一周搜索展现.html' %}
            </div>
        </div>
    </div>
</div>
</body>
</html>