
<style>
    #shop_search_week{
        width: 99%;
        height: 99%;
    }
</style>
<div id="shop_search_week"  class="true_picture"></div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('shop_search_week'));
var option = {
    title: {
        text: '店铺一周搜索排名展现'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:['排名']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: ['周一','周二','周三','周四','周五','周六','周日']
    },
    yAxis: {
        type: 'value'
    },
    series: [
        {
            name:'排名',
            type:'line',
            stack: '总量',
            data:[30, 45, 60, 10, 5, 25, 39]
        }
    ]
};
myChart.setOption(option);
</script>
