<script src="../static/js/jquery-1.11.3.js"></script>
<style>
    #shop_week {
        width: 99%;
        height: 99%;
    }
</style>
<div id="shop_week" class="true_picture"></div>


<script type="text/javascript">
    $.ajax({
        type: 'get',
        url: "http://localhost:9000/shopTrend?shopUrl={{ shopUrl }}",
        dataType: 'json',
        success: function (info) {
            var myChart = echarts.init(document.getElementById('shop_week'));
            var shopTrenOption;
            shopTrenOption = {
                title: {
                    text: '店铺一周趋势'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['销量', '评论数']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: '销量',
                        type: 'line',
                        stack: '总量',
                        data: info.salesTrend
                    },
                    {
                        name: '评论数',
                        type: 'line',
                        stack: '总量',
                        data: info.commentNumTrend
                    }
                ]
            };
            myChart.setOption(shopTrenOption);
        }
    });


</script>
